* {
  box-sizing: border-box;
  color: white;
}
.fa-expand, .fa-play, .fa-volume-up{
  color: black !important;
}

body {
  margin: 50px;
}

.video-player {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}
.video-player__video {
    max-width: 100%;
    object-fit: cover;
}
.video-player__controls {
    position: absolute;
    z-index: 99;
    bottom: 0.375rem;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.video-player__btn {
    padding: 0.625rem;
    margin: 0 0.187rem;
    border-radius: 0.187rem;
    color: white;
    background: rgba(black, 0.6);
    border: unset;
    box-shadow: unset;
}
.video-player__btn:hover,
.video-player__btn:focus,
.video-player__btn:active {
  cursor: pointer;
  background: rgba(black, 1);
  outline: 0;
}
  
.video-player__btn-group {
  display: flex;
}
.video-player__progress-bar {
    position: relative;
    flex-grow: 1;
    margin: 0 0.187rem;
    padding: 0.625rem;
    border-radius: 0.187rem;
    color: white;
    background: rgba(black, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-player__progress-timeline {
    height: 0.187rem;
    margin-right: 0.625rem;
    background: grey;
    flex-grow: 1;
  }
.video-player__progress-scrubber {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  left: 0.624rem;
  top: 50%;
  transform: translateY(-50%);
}
.video-player__progress-text {
  text-align: center;
}
